<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
      Update the Data Source to your SQL Server instance name.
      Examples:
        Data Source=.\SQLEXPRESS    (SQL Server Express local)
        Data Source=localhost        (default local SQL Server)
        Data Source=SERVER\INSTANCE  (named instance)
      For Windows Authentication use:  Integrated Security=True
      For SQL Auth use:  User Id=sa;Password=YourPassword;
    -->
    <add name="HRMSConnection"
         connectionString="Data Source=GBHQBST-JAHANZA;Initial Catalog=HRMSDB;Integrated Security=True;MultipleActiveResultSets=False;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.UI.WebControls" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="EmployeeMaster.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
